$fg-link-normal: #0ed7b2;

html {
  --bg-main: #101019;
  --fg-main: #ffffff;

  --fg-link-normal: #{$fg-link-normal};
  --fg-link-hover: white;
  --fg-link-visited: #{lighten($fg-link-normal, 20%)};

  --fg-detail: #999999;

  --fg-border: white;


  /* Code blocks */
  --bg-code: #0d0c11;
  --border-code: #2D384C;

  --bg-thought: #212944;
	--border-thought: #394264;


  --fg-code-block: #e9e9e9;
  --bg-code-block: #0d0c11;
  --border-code-block: #2D384C;


  @media (prefers-color-scheme: light) {
    --bg-main: #F8FAFC;
    --fg-main: black;

    --fg-link-normal: #{darken($fg-link-normal, 6%)};
    --fg-link-hover: black;
    --fg-link-visited: #{darken($fg-link-normal, 20%)};

    --fg-detail: #777777;

    --fg-border: black;

    --bg-code: #d8d6bd;
    --border-code: #c0bea1;
  }
}
