@import "./_colors.scss";
@import "./code.scss";
@import url(https://fonts.bunny.net/css?family=roboto:400,400i,700,700i);


$width: 1280px;

body {
    background-color: var(--bg-main);
    color: var(--fg-main);
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1;
    margin: 0;
}

.container {
    top: 50%;
    left: 50%;
    width: 800px;
    max-width: 100%;
    margin: auto;
}

// link styling

a{
    color: var(--fg-link-normal);
    text-decoration: none;
    background: transparent;
    transition: background 1s ease, padding 1s ease;

    &:visited{
        color: var(--fg-link-visited);
    }

    &:hover{
        color: var(--fg-link-hover);
    }
}

.a-contacts-size{
    font-size: 30px;
}

#contacts a:visited:not(:hover){
    color: var(--fg-link-normal)
}

a.heading-anchor {
    color: var(--fg-main);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

div.bordermain{
    display: flex;
    border: 1px solid var(--fg-border);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}

.contacts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.border{
    border: 1px solid var(--fg-border);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 5px;
}

.pixelated {
    image-rendering: pixelated;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: var(--bg-main);
    background-blend-mode: darken;
    background-size: cover;
    color: var(--fg-main);
    padding: 10px 20px;
    transition: top 0.3s;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 15px;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav-list li a {
    text-decoration: none;
    color: var(--fg-main);
    font-size: 18px;
}

body.article {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.article > :not(.navbar) {
    width: $width;
    padding: 0 10px;

    @media (max-width: $width) {
        width: 100%;
    }
}

.articlemeta {
    color: var(--fg-detail);
}

code {
    background-color: var(--bg-code);
    border-radius: 5px;
    padding: 0 .15em;
    border: 1px solid var(--border-code);
    overflow-wrap: break-word;
}

.no {
    display: block
  }

@media screen and (min-width : 800px) {
    div.bordermain {
            flex-direction: row-reverse;
            justify-content: space-around;
    }
}

blockquote {
  background-color: var(--bg-code);
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

section.thought {
	padding: 6px;

	background-color: var(--bg-thought);
	border-radius: 5px;
	border-left: 4px solid var(--border-thought);

	margin: 18px 0;

	p:last-child {
		margin-bottom: 0;
	}

	> h1, > h2, > h3, > h4, > h5 {
		&:first-child {
			margin-top: 0;
		}
	}
}
