{{ $js := resources.Get "js/js.js" | minify  }}
{{ $styles := resources.Get "styles/styles.scss" | toCSS | minify  }}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <script src="{{ $js.RelPermalink }}"></script>
    <title>{{ .Site.Title }}</title>

    <meta itemprop="name" content="{{ .Site.Title }}">
    <meta itemprop="description" content="{{ .Description }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ .Site.Title }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>

    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="https://pikachu.systems/images/pikachu.gif">

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <script defer data-domain="pikachu.systems" src="{{ .Site.Param "analytics" }}"></script>

    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/index.xml">RSS</a></li>
        </ul>
    </nav>